*.cmake
*.log
*.scan
*.status
*.tar.*
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/*.dSYM
src/*.o
src/.deps
src/.libs
src/*.lo
src/*.la
src/Makefile.in
src/6jack-test
src/6jack
stamp-*
testing
